.course {
    padding: toRem(32) 0;

    &__container {
    }
    &__details {
    }
    &__details[open] .course__arrow {
        transform: rotate(90deg);
    }

    &__title {
    }
    &__subtitle {
        cursor: pointer;
        list-style: none;
        position: relative;
        transition: all $cubic;

        &:hover,
        &:focus {
            color: var(--text-hover);
        }
    }

    &__arrow {
        width: toRem(28);
        height: toRem(28);
        flex-shrink: 0;
        fill: currentColor;
        filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));

        transition: transform $cubic;

        @include ms(mob-m) {
            width: toRem(32);
            height: toRem(32);
        }
        @include ms(mob-l) {
            width: toRem(36);
            height: toRem(36);
        }
        @include ms(tab-s) {
            width: toRem(56);
            height: toRem(56);
        }
    }

    &__txt {
        // font-weight: 700;
    }
    &__list {
    }
    &__item {
        // font-size: toRem(20);

        margin-top: toRem(14);
        @include ms(tab-s) {
            // font-size: toRem(20);
        }
    }
}
