@mixin ms($type) {
    $mob-s: toRem(320);
    $mob-s-up: toRem(374.9);
    $mob-m: toRem(375);
    $mob-m-up: toRem(479.9);
    $mob-l: toRem(480);
    $mob-l-up: toRem(767.9);

    $tab-s: toRem(768);
    $tab-s-up: toRem(1023.9);

    $desc-s: toRem(1024);
    $desc-s-up: toRem(1167.9);
    $desc-m: toRem(1168);

    @if $type == mob-s {
        @media (min-width: $mob-s) {
            @content;
        }
    }
    @if $type == mob-s-up {
        @media (max-width: $mob-s-up) {
            @content;
        }
    }
    @if $type == mob-m {
        @media (min-width: $mob-m) {
            @content;
        }
    }
    @if $type == mob-m-up {
        @media (max-width: $mob-m-up) {
            @content;
        }
    }
    @if $type == mob-l {
        @media (min-width: $mob-l) {
            @content;
        }
    }
    @if $type == mob-l-up {
        @media (max-width: $mob-l-up) {
            @content;
        }
    }
    @if $type == tab-s {
        @media (min-width: $tab-s) {
            @content;
        }
    }
    @if $type == tab-s-up {
        @media (max-width: $tab-s-up) {
            @content;
        }
    }
    @if $type == desc-s {
        @media (min-width: $desc-s) {
            @content;
        }
    }
    @if $type == desc-s-up {
        @media (max-width: $desc-s-up) {
            @content;
        }
    }
}
